
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @try
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />

        }
        catch (Exception)
        {
            <p>Error</p>
            throw;
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
