@inject NavigationManager navigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ITLab.TestFront</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@CalcHref("/test")" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Отчеты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@CalcHref("/test/report/create")" Match="NavLinkMatch.Prefix">
                <span class="oi oi-pencil" aria-hidden="true"></span> Написать отчет
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="@CalcHref("/test/files")" Match="NavLinkMatch.Prefix">
                <span class="oi oi-file" aria-hidden="true"></span> Файлы
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string CalcHref(string baseHref)
    {
        var uri = new Uri(navigationManager.Uri);

        var queryString = baseHref + uri.Query;
        return queryString;
    }
}
